:root {
  --color-primary: hsl(223, 47%, 23%); /* primary text color */
  --color-secondary: hsl(224, 23%, 55%); /* secondary text color */
  --color-accent: hsl(245, 75%, 52%); /* accent */
  --color-hover: hsl(245, 83%, 68%);
  --color-body: hsl(225, 100%, 98%);
  --color-body-darker: hsl(225, 100%, 94%); /* media bg color */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  color: var(--color-secondary);
  font-size: 1.6rem;
}
