:root {
  --color-primary: hsl(223, 47%, 23%); /* primary text color */
  --color-secondary: hsl(224, 23%, 55%); /* secondary text color */
  --color-accent: hsl(245, 75%, 52%); /* accent */
  --color-hover: hsl(245, 83%, 68%);
  --color-body: hsl(225, 100%, 98%);
  --color-body-darker: #f8f9fe; /* media bg color */
  --border-radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #e0e8ff;
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  color: var(--color-secondary);
  font-size: 1.6rem;
}

h1,
h2 {
  color: var(--color-primary);
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  font-size: 1.6rem;
  font-weight: 900;
}

a {
  font-size: 1.4rem;
  font-weight: 700;
}

/* Buttons */
.btn {
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  box-shadow: 0 15px 20px 5px #dedbf8;
  color: var(--color-body);
  display: inline-block;
  padding: 1em 0;
  text-decoration: none;
  width: 100%;
}

.btn:hover {
  background-color: var(--color-hover);
  transition: background-color 0.2s ease-in;
}

/* Plans */
.plans {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-body-darker);
  border-radius: var(--border-radius);
  padding: 2.5rem 2rem;
}

.plans__details {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  column-gap: 2rem;
}

.plans__descriptions h2 {
  margin: 0 0 0.8rem;
}

.plans__descriptions p {
  margin: 0;
}

.plans__option {
  align-self: center;
  color: var(--color-accent);
}

.plans__option:hover {
  text-decoration: none;
  color: var(--color-hover);
}

/* Attributions */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Main Card */
.card {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 0 20px 5px #dedbf8;
}

.card__body {
  padding: 2.4rem 5rem 4rem;
}

.card__description {
  max-width: 30rem;
  margin: 0 auto 2.1rem;
  line-height: 1.5;
}

.card__links {
  color: var(--color-secondary);
  text-decoration: none;
  margin: 3rem 0;
}

.card__links:hover {
  color: var(--color-primary);
  transition: color 0.1s ease-in;
}

.card__body .plans,
.btn {
  margin-bottom: 2.1rem;
}
